body
{
	background:#444444;
    color: #ffffff;
	font-family:Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
	font-size: 3em;
	margin:4px;
	text-align:center;
}


@media (orientation: landscape) {
body
{
	width:800px;
	margin: 0 auto;
}
}

@media (orientation: portrait) {
body
{
	width:100%;
}
}

#form_container
{
	margin:0 auto;
	text-align:center;
	width:100%;
    position:relative; 
    top: 30%; 
}

::placeholder { /* Most modern browsers support this now. */
    color:    #333333;
 }

/**** Logo Section  *****/
h1{
    color: #7f7f7f; 
    font-size:100%;
}

/**** Buttons ****/
input.button_text
{
    color: inherit;
    border-radius: 10px;
	border-bottom:2px solid #442222;
	border-left:2px solid #DFAFAF;
	border-right:2px solid #552222;
	border-top:2px solid #DFAFAF;
    background-image: linear-gradient(to bottom right, #af3333 , #af7F7F);

	overflow:visible;
	padding:0 7px;
	font-size: 20px;
	height: 50px;
	width: 200px;
}

input.edit_text
{
    color: inherit;
    border-radius: 10px;
	border-bottom:2px solid #222222;
	border-left:2px solid #DFDFDF;
	border-right:2px solid #222222;
	border-top:2px solid #DFDFDF;
    background-image: linear-gradient(to bottom right, #5c5959 , #7F7F7F);

	overflow:visible;
	padding:0 7px;
	font-size: 20px;
	height: 50px;
	width: 180px;
}

